.paperContainer {
  border: 1px #dee1eb solid;
  margin-bottom: 0.2rem;
  transition: 0.3s;
}
.paperContainer:hover {
  background: #dee1eb !important;
  border-left: 7px #41528b solid;
  cursor: pointer;
  font-weight: bold;
}
.lineOne {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  padding-top: 0.2rem;
}
.lineOne > div {
  width: 30px;
  height: 30px;
}
.lineOne > div > img {
  max-width: 100%;
  max-height: 100%;
}
